<div class="index-page">
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <div class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <a href="/"><img src="assets/img/MacondoLogo.png" class="img-fluid" alt="" /></a>
      </div>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/#about" id="nav-about">About</a></li>
          <li><a href="/#services" id="nav-services">Services</a></li>
          <!-- <li><a href="#portfolio">Products</a></li> -->
          <!--
          <li><a href="#team">Team</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li class="dropdown">
            <a href="#"
              ><span>Dropdown</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i
            ></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown">
                <a href="#"
                  ><span>Deep Dropdown</span>
                  <i class="bi bi-chevron-down toggle-dropdown"></i
                ></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          -->

          <li><a href="#contact" id="nav-contact">Contact</a></li>
          <li><a href="/blogs_eng.html" id="nav-blogs">Blogs</a></li>
          <li>
            <div class="switch">
              <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" [(ngModel)]="selectedLanguge" (click)="switchLanguge()">
              <label for="language-toggle"></label>
              <span class="on" id="language-eng">EN</span>
              <span class="off" id="language-fr">FR</span>
            </div>
          </li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <!-- <a class="btn-getstarted" href="#about">Get Started</a> -->
    </div>
    <!-- <div id="navbarContainer"></div> --->
  </header>
  <main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section">
      <div class="container">
        <div class="row gy-4">
          <div
            class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1>
              Innovative IOT Solutions for Manufacturing Industries
            </h1>
            <p style="color: rgba(255, 255, 255, .5) !important;">
              MACONDO ENGINEERING is a start-up providing IOT solutions
              for manufacturing industries on a national and regional scale,
              such as digital transformation and Industry 4.0.
            </p>

            <div class="d-flex">
              <a href="#about" class="btn-get-started">Get Started</a>
              <a
                href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                class="glightbox btn-watch-video d-flex align-items-center"
              ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
              >
            </div>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"


          >
            <img
              src="assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- /Hero Section -->
    <!-- About Section -->
    <section id="about" class="about section">
      <!-- Section Title -->
      <div class="container section-title" >
        <h2 id="about-us-title" class="">About Us</h2>
      </div>
      <!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">
          <div
            class="col-lg-6 content"


          >
            <p id="about-us-definition">
              We are a youth team of experts in different industrial activities and IT fields. Our expertise is diversified between Mechatronics background, Electronics design, IT development and mechanics studies. In addition, we span a range of industrial-related services such as quality improvement and logistics ideations.
            </p>
            <ul>
              <li>
                <i class="bi bi-check2-circle"></i>
                <span id="about-us-advantages1"
                >Customized IOT solutions designed for manufacturing.</span
                >
              </li>
              <li>
                <i class="bi bi-check2-circle"></i>
                <span id="about-us-advantages2"
                >Expertise in digital transformation and Industry 4.0.</span
                >
              </li>
              <li>
                <i class="bi bi-check2-circle"></i>
                <span id="about-us-advantages3">Commitment to innovation and industry leadership.</span>
              </li>
            </ul>
          </div>

          <div class="col-lg-6"  >
            <p id="about-us-mission">
              Our mission is to empower manufacturing industries with the latest technologies, to ensure sustainability, robustness and readiness. We focus on delivering scalable and robust solutions that drive efficiency, reduce costs, and enhance productivity.
            </p>
            <!-- <a href="#" class="read-more"
              ><span>Read More</span><i class="bi bi-arrow-right"></i
            ></a> -->
          </div>
        </div>
      </div>
    </section>
    <!-- /About Section -->
    <!-- Why Us Section -->
    <section id="why-us" class="section why-us" data-builder="section">
      <div class="container-fluid">
        <div class="row gy-4">
          <div
            class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1"
          >
            <div
              class="content px-xl-5"


            >
              <h3 class="">
                  <span id="why-us-title" class="">Why Choose </span
                  ><strong>MACONDO ENGINEERING?</strong>
              </h3>
              <p id="why-us-description" class="">
                We combine ambition and passion to engineering and technologies.  Moreover, we prioritize customers’ satisfaction. Finally, we ensure a continuous follow-up in order to improve quality and performance basing on customer feedback.
              </p>
            </div>

            <div
              class="faq-container px-xl-5"


            >
              <!-- <div class="faq-item faq-active"> -->
              <div class="faq-item">
                <h3>
                  <span style="display: inline;">01</span>
                  <p id="why-us-element1-title" style="display: inline;">What makes our solutions unique?</p>
                </h3>
                <div class="faq-content">
                  <p id="why-us-element1-description">
                    Our solutions are specifically designed “on size” to satisfy the specific need of our customers.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>
              <!-- End Faq item-->

              <div class="faq-item">
                <h3>
                  <span style="display: inline;">02</span>
                  <p id="why-us-element2-title" style="display: inline;">How do we ensure quality and reliability?</p>
                </h3>
                <div class="faq-content">
                  <p id="why-us-element2-description">
                    We employ rigorous testing and continuous improvement processes to ensure our solutions are not only innovative but also reliable and aligned with the highest industry standards and costumers needs.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>
              <!-- End Faq item-->

              <div class="faq-item">
                <h3>
                  <span style="display: inline;">03</span>
                  <p id="why-us-element3-title" style="display: inline;">What benefits do our clients experience?</p>
                </h3>
                <div class="faq-content">
                  <p id="why-us-element3-description">
                    Our clients benefit from increased operational efficiency,
                    reduced costs, and enhanced competitiveness, allowing them
                    to stay ahead in a rapidly evolving market.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div>
              <!-- End Faq item-->
            </div>
          </div>

          <div class="col-lg-5 order-1 order-lg-2 why-us-img">
            <!-- <img
              src="assets/img/why-us.png"
              class="img-fluid"
              alt=""
              data-aos="zoom-in"

            /> -->
            <img
              src="assets/img/Industrial_IoT_HD.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- /Why Us Section -->

    <!-- Skills Section -->
    <section id="skills" class="skills section">
      <div class="container" >
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <!-- <img src="assets/img/skills.png" class="img-fluid" alt="" /> -->
            <img src="assets/img/industrial-iot-benefits.png-HD.png" class="img-fluid" alt="" />
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3 id="skills-title">Our Expertise in IOT Solutions</h3>
            <p class="fst-italic" id="skills-description">
              IOT solutions is our basic field of expertise: starting from Data analytics to AI-adapted technologies, passing through machine learning and IOT data sourcing processes.
            </p>

            <div class="skills-content skills-animation">
              <div class="progress">
                  <span class="skill"
                  ><span id="skill1">IOT Integration</span>
                    <i class="val">95%</i></span
                  >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="95"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <!-- End Skills Item -->

              <div class="progress">
                  <span class="skill"
                  ><span id="skill2">Industry 4.0 Solutions</span>
                    <i class="val">90%</i></span
                  >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <!-- End Skills Item -->

              <div class="progress">
                  <span class="skill"
                  ><span id="skill3">Data Analytics</span> <i class="val">85%</i></span
                  >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <!-- End Skills Item -->

              <div class="progress">
                  <span class="skill"
                  ><span id="skill4">AI and Machine Learning</span>
                    <i class="val">80%</i></span
                  >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <!-- End Skills Item -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /Skills Section -->

    <!-- Services Section -->
    <section id="services" class="services section">
      <!-- Section Title -->
      <div class="container section-title" >
        <h2 id="services-title">Services</h2>
        <p id="services-description">
          Explore the advanced technological solutions and industrial services
          provided by MACONDO ENGINEERING.
        </p>
      </div>
      <!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">
          <div
            class="col-xl-4 col-md-6 d-flex"


          >
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-graph-up-arrow icon"></i>
              </div>
              <h4>
                <a href="digitalization-service-details.html" class="stretched-link" id="service1-title"
                >Digitalization</a
                >
              </h4>
              <p id="service1-description">
                Developing advance solutions like smart interactive dashboard customized to ensure more reliable data, using different technologies like Thingworx, Grafana…
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div
            class="col-xl-4 col-md-6 d-flex"


          >
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-gear icon"></i></div>
              <h4>
                <a href="mechatronics-service-details.html" class="stretched-link" id="service2-title"
                >Mechatronics Services</a
                >
              </h4>
              <p id="service2-description">
                We design electronic and mechanics sophisticated drawing combined with solid code to ensure the robustness and readiness for customers’ requests.
              </p>
            </div>
          </div>
          <!-- End Service Item -->

          <div
            class="col-xl-4 col-md-6 d-flex"


          >
            <div class="service-item position-relative">
              <div class="icon">
                <img width="50px" src="assets/img/3d-printer.ico" alt="" />
              </div>
              <h4>
                <a href="3D-print-service-details.html" class="stretched-link" id="service3-title"
                >3D Print</a
                >
              </h4>
              <p id="service3-description">
                We provide different ESD-linked services like audit, customized studies and coordinating EPA implementation with different ESD equipment suppliers.
              </p>
            </div>
          </div>
          <!-- End Service Item -->
        </div>
      </div>
    </section>
    <!-- /Services Section -->

    <section id="integrator" class="section">
      <div class="container section-title" >
        <h2 id="integrator-title">Partnership</h2>
        <div class="row" style="margin-top:50px">
          <div class="col-lg-4 pt-4 pt-lg-0 content">
            <img src="http://www.inductiveautomation.com/integrator/badge/?OFp1WGhYQm9lSGRXRE9Eb2xqN3hVdz09" border="0" width="250" height = "200" alt="Ignition by Inductive Automation" />
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" style="text-align: left">
              <span id="integrator-description1">
                MACONDO Engineering is a registered Integrator of
              </span>
            <a id="integrator-link1" href="https://inductiveautomation.com?rfid=196977">Inductive Automation</a>
            <span id="integrator-description2">
                products in Tunisia. We provide the installation, and technical support, of industrial automation software and platforms, like SCADA systems, to control of processes and to analyse data from Your machines and stations…
              </span>
            <a id="integrator-link2" href="https://inductiveautomation.com/downloads/?rfid=196977">find more</a>
            .
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact section">
      <!-- Section Title -->
      <div class="container section-title" >
        <h2>Contact</h2>
      </div>
      <!-- End Section Title -->

      <div class="container" >
        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="info-wrap">
              <div
                class="info-item d-flex"


              >
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>
                    Bureau A1 Immeuble Tamayouz, Centre Urban Nord, 1082, Tunis
                  </p>
                </div>
              </div>
              <!-- End Info Item -->

              <div
                class="info-item d-flex"


              >
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><rect x="1" y="4" width="30" height="24" rx="4" ry="4" fill="#d52e23"></rect><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="#fff" opacity=".2"></path><path d="M16,10c-3.314,0-6,2.686-6,6s2.686,6,6,6,6-2.686,6-6-2.686-6-6-6Zm3.384,7.587l-1.865-.606-1.153,1.587v-1.962l-1.866-.606,1.866-.606v-1.962l1.153,1.587,1.865-.606-1.153,1.587,1.153,1.587Zm-2.184-5.187c-1.988,0-3.6,1.612-3.6,3.6s1.612,3.6,3.6,3.6c.941,0,1.797-.361,2.438-.951-.818,1.122-2.143,1.851-3.638,1.851-2.485,0-4.5-2.015-4.5-4.5s2.015-4.5,4.5-4.5c1.495,0,2.82,.729,3.638,1.851-.641-.591-1.497-.951-2.438-.951Z" fill="#fff"></path></svg>
                    <span class="mx-2">+216 51 889 001</span>
                  </div>
                  <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="#fff" d="M10 4H22V28H10z"></path><path d="M5,4h6V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z" fill="#092050"></path><path d="M25,4h6V28h-6c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z" transform="rotate(180 26 16)" fill="#be2a2c"></path><path d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z" opacity=".15"></path><path d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z" fill="#fff" opacity=".2"></path></svg>
                    <span class="mx-2">+33 7 51 35 34 20</span>
                  </div>
                </div>
              </div>
              <!-- End Info Item -->

              <div
                class="info-item d-flex"


              >
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>contact@macondo-engineering.com</p>
                </div>
              </div>
              <!-- End Info Item -->

              <div
                class="info-item d-flex"


              >
                <i class="bi bi-linkedin flex-shrink-0"></i>
                <div>
                  <h3>LinkedIn</h3>
                  <a href="https://www.linkedin.com/company/macondo-engineering">MACONDO ENGINEERING</a>
                </div>
              </div>
              <!-- End Info Item -->

              <iframe
                src="https://maps.google.com/maps?width=100%25&amp;height=270&amp;hl=en&amp;q=Immeuble%20Tamayouz,%20Centre%20Urban%20Nord,%201082,%20Tunis.+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                frameborder="0"
                style="border: 0; width: 100%; height: 270px"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
          <div class="col-lg-6">
            <form
              action="forms/contact.php"
              method="post"
              class="php-email-form"


            >
              <div class="row gy-4">
                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Your Name</label>
                  <input
                    type="text"
                    name="name"
                    id="name-field"
                    class="form-control"
                    required=""
                  />
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Your Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email-field"
                    required=""
                  />
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject-field"
                    required=""
                  />
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Message</label>
                  <textarea
                    class="form-control"
                    name="message"
                    rows="10"
                    id="message-field"
                    required=""
                  ></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>

                  <button type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>


          <!-- End Contact Form -->
        </div>
      </div>
    </section>
    <!-- /Contact Section -->


  </main>

</div>
<app-footer></app-footer>
